<form style="margin-top: 20px">
  <div class="form-group">
    <input type="email" class="form-control" name="email" id="emailNewsletter" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="firstname" id="firstnameNewsletter" placeholder="Firstname">
  </div>
  <input type="hidden" name="language" value="en" id="languageNewsletter" />
  <button type="submit" id="subscribeNewsletterButton" class="btn btn-primary btn-block">Subscribe</button>
</form>
