<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <a href="/fr/pricing"><img class="img-responsive"
            src="/assets/images/articles/gladys-4-alpha/gladys-4-mockup-devices.jpg" alt="Gladys Plus"></a>
      </div>
      <div class="col-md-8">
        <h3>Souscrivez à Gladys Plus</h3>
        <p style="margin-top: 10px">
          🌎 Accédez au Gladys Gateway pour contrôler votre Gladys de n'importe où<br />
          💬 Accédez au Slack privé Gladys et échangez avec la communauté<br />
          💪 Supportez ce projet open-source et aidez à supporter les coûts du projet
        </p>
      </div>
    </div>
  </div>
  <div class="panel-footer text-center">
    <a href="/fr/pricing"><button class="btn btn-success">En savoir plus!</button></a>
  </div>
</div>