<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <a href="/en/pricing"><img class="img-responsive"
            src="/assets/images/articles/gladys-4-alpha/gladys-4-mockup-devices.jpg" alt="Gladys Plus"></a>
      </div>
      <div class="col-md-8">
        <h3>Subscribe to Gladys Plus</h3>
        <p style="margin-top: 30px">
          🌎 Access the Gladys Gateway to control Gladys from where you want in the world<br />
          💬 Access our Private Slack so you can exchange with the community<br />
          💪 Support this open-source project and help cover the costs
        </p>
      </div>
    </div>
  </div>
  <div class="panel-footer text-center">
    <a href="/en/pricing"><button class="btn btn-success">See more about Gladys Plus!</button></a>
  </div>
</div>