<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <a href="/fr/gladys-community-package" ><img class="img-responsive" 
                    src="/assets/images/gateway/macbook-mockup-1000.png"  
                    alt="Gladys starter pack"></a>
            </div>
            <div class="col-md-8">
                <h3>Souscrivez au package communauté Gladys</h3>
                <p style="margin-top: 10px">
                🌎 Accédez au Gladys Gateway pour contrôler votre Gladys de n'importe où<br />
                💬 Accédez au Slack privée Gladys et échangez avec la communauté<br />
                🎉 Recevez le <a href="/fr/gladys-starter-pack/">Gladys Starter Pack</a> gratuitement au lieu de 50€ si vous faites partis des 100 premiers inscrits!<br />
                🎁 Recevez des stickers Gladys si vous faites partis des 100 premiers inscrits<br />
                💪 Supportez ce projet open-source et aidez à supporter les coûts du projet
              </p>
            </div>
        </div>
    </div>
    <div class="panel-footer text-center">
        <a href="/fr/gladys-community-package"><button class="btn btn-success">En savoir plus!</button></a>
    </div>
</div>