<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <a href="/en/gladys-community-package"><img class="img-responsive"
            src="/assets/images/gateway/macbook-mockup-1000.png" alt="Gladys starter pack"></a>
      </div>
      <div class="col-md-8">
        <h3>Join the Gladys Community Package</h3>
        <p style="margin-top: 30px">
          🌎 Access the Gladys Gateway to control Gladys from where you want in the world<br />
          💬 Access our Private Slack so you can exchange with the community<br />
          💪 Support this open-source project and help cover the costs
        </p>
      </div>
    </div>
  </div>
  <div class="panel-footer text-center">
    <a href="/en/gladys-community-package"><button class="btn btn-success">See more about the package!</button></a>
  </div>
</div>