---
layout: default
---

<div class="container container-margin">
  <div class="row">

    <!--<div class="col-md-4">

      {% assign installationPage = '/' | append:page.lang | append:'/installation/' %}
      {% assign accessGladysRemotelyPage = '/' | append:page.lang | append:'/installation/access-gladys-remotely/' %}
      {% assign documentationPage = '/' | append:page.lang | append:'/installation/documentation/' %}

      <div class="list-group">
        <a href="/{{ page.lang }}/installation/"
          class="list-group-item {% if page.url == installationPage  %} active {% endif %}">{{site.data.i18n[page.lang].documentation.installation}}</a>

        <a href="/{{ page.lang }}/installation/documentation" class="list-group-item {% if page.url == documentationPage  %} active
          {% endif %}">{{site.data.i18n[page.lang].documentation.documentation}}</a>

        <a href="/{{ page.lang }}/installation/access-gladys-remotely/"
          class="list-group-item {% if page.url == accessGladysRemotelyPage  %} active {% endif %}">{{site.data.i18n[page.lang].documentation.accessGladysRemotely}}</a>
      </div>

    </div>-->

    <div class="col-md-8">
      {{ content }}
      {% include comments.html %}
    </div>
  </div>
</div>