---
title: Gladys Community Package
description: Access the Gladys Gateway, join our private Slack community and become a Gladys supporter!
lang: fr
image: /assets/images/landing/gladys-telegram-cover.jpg
permalink: /en/gladys-community-package/
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/landing/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="/assets/css/landing/icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/assets/css/landing/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
       	<!-- <link href="/assets/css/landing/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>-->
        <link href="/assets/css/landing/theme-blue.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/assets/css/landing/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
		
		<link href="/assets/css/landing/font-opensans.css" rel="stylesheet" type="text/css">
		

        <meta name="description" content="{{ page.description }}">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@gladysassistant">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{{ page.description }}">
        <meta name="twitter:image:src" content="{{ page.image | absolute_url }}">

        <meta property="og:title" content="{{ page.title }}"/>
        <meta property="og:image" content="{{ page.image | absolute_url }}"/>
        <meta property="og:description" content="{{ page.description }}"/>

        <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-touch-icon-57x57.png?v=gAv82vzwkJ">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-touch-icon-60x60.png?v=gAv82vzwkJ">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-touch-icon-72x72.png?v=gAv82vzwkJ">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-touch-icon-76x76.png?v=gAv82vzwkJ">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-touch-icon-114x114.png?v=gAv82vzwkJ">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-touch-icon-120x120.png?v=gAv82vzwkJ">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-touch-icon-144x144.png?v=gAv82vzwkJ">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-touch-icon-152x152.png?v=gAv82vzwkJ">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon-180x180.png?v=gAv82vzwkJ">
        <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png?v=gAv82vzwkJ" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/images/favicon/android-chrome-192x192.png?v=gAv82vzwkJ" sizes="192x192">
        <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-96x96.png?v=gAv82vzwkJ" sizes="96x96">
        <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png?v=gAv82vzwkJ" sizes="16x16">
        <link rel="manifest" href="/assets/images/favicon/manifest.json?v=gAv82vzwkJ">
        <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico?v=gAv82vzwkJ">
        <meta name="msapplication-TileColor" content="#9f00a7">
        <meta name="msapplication-TileImage" content="/assets/images/favicon/mstile-144x144.png?v=gAv82vzwkJ">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>
		
		<div class="main-container">

					
			<section class="header header-8">
				<div class="header-upper" style="padding-top: 50px">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 text-center">
								<h2 class="text-white"><span>Join </span><strong>Gladys</strong> Community</h2>
								<h5 class="text-white">Access the Gladys Gateway, our private Slack and receive awesome gifts!</h5>
							</div>
						</div>
				
					</div>
				</div>

			</section>

      <section class="features features-3">
				<div class="container">
					<div class="row" style="font-size: 12px; color: black; margin-bottom: 0px; padding: 15px; text-align: justify;">
          <div class="col-md-10 col-md-offset-1">
            {{ content }}
          </div>
				</div>
		</section>

      		<section class="features features-3" style="padding-top: 40px">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
							<h3>Introducing the Gladys Community Package</h3>
							<p>The best way to start with Gladys and contribute to the project</p>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-4 text-center feature">
							<i class="icon-browser-streamline-window"></i>
							<h5>Access to Gladys Gateway</h5>
							<p>An End-to-End Encrypted Gateway to access your Gladys anywhere in the world.</p>
						</div>
					
						<div class="col-sm-4 text-center feature">
							<i class="icon-bubble-comment-streamline-talk"></i>
							<h5>Access our private Slack</h5>
							<p>Chat with Gladys community and participate to our next development!</p>
						</div>
					
						<div class="col-sm-4 text-center feature">
							<i class="icon-like-love-streamline"></i>
							<h5>Gift</h5>
							<p>The first 100 subscribers will receive some Gladys Stickers, and maybe win awesome gifts</p>
						</div>
					</div>
				</div>	
			</section>

			<section class="cta cta-3 bg-secondary">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-sm-4 col-md-5 text-left">
							<h3>Join Gladys Community now - Receive Gifts</h3>
							<p>
								“The speed of the Gladys Gateway is astonishing“
							</p>
							<span>— Piznel, Gladys contributor</span>
						</div>
					
						<div class="col-md-5 col-sm-8">
							<div class="form-email" style="background: white; padding: 40px; border-radius: 3px;">
								<h6>Become a member of Gladys Community</h6>
								<input type="submit" value="Join us (9.99€/month)"  class="openPaymentModal" style="margin-top: 10px; margin-bottom: 10px">
								<p class="sub">
									Cancel at anytime in the Gladys Gateway paremeters.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
     	

     		<section class="features features-4">
				<div class="container"> 

					<div class="row" style="margin-bottom: 80px">
						<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
							<h3>Gladys Gateway</h3>
							<p>An End-To-End Encrypted Web Gateway for Gladys</p>
						</div>
					</div>

					<div class="row v-align-children">
						
						<div class="col-sm-6 col-md-5 col-md-offset-1 feature">
              <h4>Security & Privacy.</h4>
              <p style="text-align: justify">When you install Gladys on a Raspberry Pi, Gladys is only accessible on your local network. To access Gladys from the outside, I created the Gladys Gateway: an End-to-End Encrypted Gateway accessible from anywhere in the world. Like Telegram, but for Home Automation.</p>
						</div>

						<div class="col-sm-6 text-center feature">
							<img alt="Feature Image" src="/assets/images/gateway/macbook-mockup-1000.png">
						</div>
					</div>
				</div>
			</section>

			<section class="features features-10">
				<div class="container">
					<div class="row v-align-children">
						
					
						<div class="col-md-6">
							<img alt="Feature Image" src="/assets/images/gateway/gateway-manage-user.jpg">
						</div>
						<div class="col-md-5 col-md-offset-1">
              <h4>Invite your family and friends</h4>
              <p style="text-align: justify">Send an invite in one-click to your family and friend to give them access to your home control. Revoke access when you want, you are the administrator.</p>		
						</div>
					</div>
				</div>
			</section>


			<section class="features features-4" >
				<div class="container">

					<div class="row v-align-children">
						
						<div class="col-sm-6 col-md-5 col-md-offset-1 feature">
              <h4>Soon: Third-party integration</h4>
              <p style="text-align: justify">This Gladys Gateway will help us develop more easily some third-party integrations that needs a server to receive webhooks, like Amazon Alexa, Google Home, Siri. It will help us send notification on iOS and Android as well.</p>
						</div>

						<div class="col-sm-6 text-center feature">
							<img alt="Feature Image"  src="/assets/images/gateway/integration.jpg">
						</div>
					</div>
				</div>
			</section>

			
		
			<section class="testimonials testimonials-5">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-md-7 text-center col-sm-6">
							<img alt="Testimonials" src="/assets/images/landing/pierre-gilles-1x.jpg" srcset="/assets/images/landing/pierre-gilles.jpg 2x"/>
						</div>
					
						<div class="col-md-5 col-sm-6">
							<h4>Who Am I ?</h4>
							<div class="slider">
								<ul class="slides">
									<li>
										<p>
										  My name is <a href="https://twitter.com/pierregillesl">Pierre-Gilles Leymarie</a> and I founded Gladys 5 years ago! <br /><br />
											
                      My initial goal was to build my own jarvis for my student appartment. I open-sourced it, and it became a well-known home automation software used by thousands of users.
											<br />
											<br />
											Today, you're more than 35 000 having downloaded Gladys, and figures are growing everyday.
										  Thanks for supporting the project 🙂
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>


			<section class="cta cta-3 bg-secondary">
          <div class="container">
            <div class="row v-align-children">
              <div class="col-sm-4 col-md-5 text-left">
                <h3>Join Gladys Community now - Receive Gifts</h3>
                <p>
                  “The speed of the Gladys Gateway is astonishing“
                </p>
                <span>— Piznel, Gladys contributor</span>
              </div>
            
              <div class="col-md-5 col-sm-8">
                <div class="form-email" style="background: white; padding: 40px; border-radius: 3px;">
                  <h6>Become a member of Gladys Community</h6>
                  <input type="submit" value="Join us (9.99€/month)"  class="openPaymentModal" style="margin-top: 10px; margin-bottom: 10px">
                  <p class="sub">
                    Cancel at anytime in the Gladys Gateway paremeters.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
			
			
			<section class="faq faq-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="faq">
								<h5>Why should I subscribe to the Gladys Community Package?</h5>
								<p>
									You want to interact with a passionnate home automation community? Understand better how Gladys works? Access Gladys from anywhere in the world? Support open-source and a passionate indie maker? This package is made for you! 
								</p>
							</div>

							<div class="faq">
								<h5>Can I unsuscribe at any time?</h5>
								<p>
								Of course! Gladys is an open-source project, not a creepy organization 😄 If you want to unsubscribe, you can do it in one click from the Gladys Gateway. If only all subscriptions were like that...
								</p>
							</div>

							<div class="faq">
								<h5>Satisfied or reimbursed?</h5>
								<p>
								Of course! If you are not satisfied with the service, just email me and I'll reimburse you without any questions. Feel free to explain what you didn't like so I can improve the service 🙂 
								</p>
              </div>
              
              <div class="faq">
                  <h5>Can you explain how end-to-end encryption works here?</h5>
                  <p>
                    I took a lot of time to read about state of the art End-To-End Encryption. I read <a href="https://www.apple.com/business/site/docs/iOS_Security_Guide.pdf">Apple Security White Paper</a> about iMessage E2E encryption feature. I read <a href="https://www.dashlane.com/download/Dashlane_SecurityWhitePaper_October2018.pdf">Dashlane</a> White paper, read and talked with <a href="https://support.insomnia.rest/article/57-encryption">Insomnia</a> Founder, and read about 
                    ProtonMail implementation of the <a href="https://en.wikipedia.org/wiki/Secure_Remote_Password_protocol">Remote Secure Password</a> protocol. <br /><br />
                   
                    The Gladys Gateway encrypts all your messages using AES-GCM 256bits algorithm and a unique key generated at each message. This key is then encrypted using RSA-OAEP 2048bits algorithm and the public key of your Gladys instance.
                    Finally, the message is signed with the ECDSA P-256 Algorithm and bundled with an expiry date to avoid <a href="https://en.wikipedia.org/wiki/Replay_attack">Replay Attack</a>. 
                    On Gladys side, the user have to validate each new user public key to avoid <a href="https://en.wikipedia.org/wiki/Man-in-the-middle_attack">Man In The Middle attack</a>. 
                    With those securities, even if the Gladys Gateway is compromised, the attacker cannot control your Gladys instance because he doesn't have your private key.
                  </p>
                </div>
							
						</div>
					
						<div class="col-sm-6">
							<div class="faq">
								<h5>Why is the Gladys Community Package not free?</h5>
								<p>
                  Gladys and all its modules, the Gladys Gateway, the website: everything is 100% open-source and free to use.<br />
                  But open-source doesn't mean that I don't have any recurring costs on my side: servers, domains, community, email services, subscriptions, hardwares... Without counting my time on the project now that Gladys is my main activity.
                  <br /><br />
                  This project respects your privacy, and therefore can live only from theses contributions. Each subscription helps me make the project even better, and prove the world that a privacy-first and open-source alternative is possible! 🚀
								</p>
							</div>

							<div class="faq">
								<h5>Are you developing more features for Gladys and the Gateway?</h5>
								<p>
                  Of course! The more contributors there are on this package, the more I'm able to invest on Gladys. For example, last month I paid a professional designer to work on the brand identity of Gladys. We all agree that the work he did is incredible,
                  and it's only thanks to contributions that I was able to pay this designer. <br/> <br/>

                  In fact, Gladys it's a little bit like a decentralized company, where the boss, it's you! Thanks to this business model, all decisions are made in order to favorize users, not investor or advertisers.
								</p>
							</div>

						</div>
					
					</div>
				
					<div class="row">
						<div class="col-sm-12 text-center">
							<h4>You have questions? Send me a tweet at <a target="_blank" href="https://twitter.com/pierregillesl">@pierregillesl</a>!</h4>
						</div>
					</div>
				</div>
			</section>
			<footer class="footer footer-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<!--<ul class="social-links">
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-youtube-alt"></i></a></li>
								<li><a href="#"><i class="icon-vimeo"></i></a></li>
							</ul>-->
						</div>
					
						<div class="col-sm-4 text-center">
							<p class="sub">
								© Copyright {{ 'now' | date: "%Y" }} Gladys Assistant - All Rights Reserved
							</p>
						</div>
					
						<div class="col-sm-4 text-right">
							<!--<a href="#">
								<img alt="Logo" src="/assets/images/landing/logo-dark.png">
							</a>-->
						</div>	
					</div>
				</div>
			</footer>
		</div>
	</body>
	
	{% if jekyll.environment == "production" %}
		{% include google-analytics.html %}
		{% include pixel.html %}
  	{% endif %}
	
	<script>
		if(window.fbq) {
			fbq('track', 'ViewContent');
		}

		document.addEventListener("DOMContentLoaded", function(event) {

			$(".openPaymentModal").on('click', function(event){
			    event.stopPropagation();
			    event.stopImmediatePropagation();
				$('#modalPayment').modal('show');
				
				if(window.fbq) {
					fbq('track', 'InitiateCheckout');
				}
			});

		});
  </script>

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>

<!-- Modal -->
<div class="modal fade" id="modalPayment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center"  id="myModalLabel">Join Gladys Community!</h4>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-md-6">
        		<div class="card" style="text-align: justify;">
		            <div class="card-body">
		              <h6 class="card-title">Why is this package not free?</h6>

		             <p style="margin-top: 15px">
				        My name is <a href="https://twitter.com/pierregillesl">Pierre-Gilles Leymarie</a>,
				        I'm a indie maker working on Gladys since 2013 👨‍💻
				      </p>

		              <p>
                   Gladys is a project fully backed by its community. I don't collect data on you, I don't see your data as Gladys is hosted locally on your side and I don't put ads in your Gladys.
                  </p>
                  
                  <p>
                    I think that being backed directly by my users is the best way to serve them, and not to serve the interest of a third-party (investor, advertisers) 🙂
                  </p>

		              <p>Thanks for your support 🙏</p>
		            </div>
		          </div>
        	</div>
        	<div class="col-md-6">
        		<style>
				@media (max-width: 992px) { 
					.iframe-container{
						margin-top: 30px; 
					}
				}
				</style>
        		<div class="iframe-container">
        		<iframe 
        		src="https://gateway.gladysassistant.com/subscribe?language=en" 
        		width="100%" 
        		height="460px"
        		frameborder="0"
			    scrolling="no"
			    marginheight="0"
			    marginwidth="0"
			   	/>
			   </div>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>


</html>