<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/landing/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="/assets/css/landing/icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/assets/css/landing/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
       	<!-- <link href="/assets/css/landing/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>-->
        <link href="/assets/css/landing/theme-blue.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/assets/css/landing/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
		
		    <link href="/assets/css/landing/font-opensans.css" rel="stylesheet" type="text/css">
		

        <meta name="description" content="{{ page.description }}">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@gladysproject">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{{ page.description }}">
        <meta name="twitter:image:src" content="{{ page.image | absolute_url }}">

        <meta property="og:title" content="{{ page.title }}"/>
        <meta property="og:image" content="{{ page.image | absolute_url }}"/>
        <meta property="og:description" content="{{ page.description }}"/>

        <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-touch-icon-57x57.png?v=gAv82vzwkJ">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-touch-icon-60x60.png?v=gAv82vzwkJ">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-touch-icon-72x72.png?v=gAv82vzwkJ">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-touch-icon-76x76.png?v=gAv82vzwkJ">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-touch-icon-114x114.png?v=gAv82vzwkJ">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-touch-icon-120x120.png?v=gAv82vzwkJ">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-touch-icon-144x144.png?v=gAv82vzwkJ">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-touch-icon-152x152.png?v=gAv82vzwkJ">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon-180x180.png?v=gAv82vzwkJ">
        <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png?v=gAv82vzwkJ" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/images/favicon/android-chrome-192x192.png?v=gAv82vzwkJ" sizes="192x192">
        <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-96x96.png?v=gAv82vzwkJ" sizes="96x96">
        <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png?v=gAv82vzwkJ" sizes="16x16">
        <link rel="manifest" href="/assets/images/favicon/manifest.json?v=gAv82vzwkJ">
        <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico?v=gAv82vzwkJ">
        <meta name="msapplication-TileColor" content="#9f00a7">
        <meta name="msapplication-TileImage" content="/assets/images/favicon/mstile-144x144.png?v=gAv82vzwkJ">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>

				
		<div class="nav-container">
		
			<nav class="nav-1 fixed">
				<div class="navbar">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-4">
								<a href="/">
									<img class="logo" alt="Logo" src="/assets/img/logo-horizontal-light.png" style="max-height: 40px; margin-top: 18px">
								</a>
							</div>
					
							<div class="col-md-3 text-right col-sm-6 col-md-push-6 col-xs-8">
								<a class="btn btn-filled openPaymentModal">Rejoindre 🚀</a>
							</div>
				
						</div>
					</div>
				</div>
			</nav>
		
		</div>
		
		<div class="main-container">

					
			<section class="header header-2" style="padding-bottom: 50px; margin-top: 20px;">

				<div class="background-image-holder fadeIn" style="background: url('/assets/images/gateway/blurred-pg.jpg') 50% 50%;">

				</div>
		
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1 class="text-white">Rejoignez la communauté Gladys</h1>
							<h5>Accès au Gladys Gateway, au Slack privée, des stickers et plein d'autres avantages !</h5>
						</div>
					</div>
				
					<div class="row" >
						<div class="col-sm-12 text-center">
							<div class="local-video-container" style="margin-top:10px; margin-bottom: 5px">
								<div class="embed-video-container" style="margin-bottom: 30px">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jC89lqjyvY0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-12 text-center">
							<input type="submit" value="Inscription (9.99€/mois sans engagement)"  class="openPaymentModal">
						</div>
					</div>
				</div>
      </section>

      <section class="features features-3">
				<div class="container">
					<div class="row" style="font-size: 12px; color: black; margin-bottom: 0px; padding: 15px; text-align: justify;">
          <div class="col-md-10 col-md-offset-1">
              {{ content }}
            </div>
					</div>
				</div>
		</section>

      		<section class="features features-3" style="padding-top: 40px">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
							<h3>Accédez à un ensemble de services Gladys</h3>
							<p>Le meilleur moyen de commencer avec Gladys et de contribuer au projet</p>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-4 text-center feature">
							<i class="icon-browser-streamline-window"></i>
							<h5>Accès illimité au Gladys Gateway</h5>
							<p>Accèdez à une passerelle web chiffrée de bout en bout qui vous permet d'accéder à votre instance Gladys locale.</p>
						</div>
					
						<div class="col-sm-4 text-center feature">
							<i class="icon-bubble-comment-streamline-talk"></i>
							<h5>Accès au Slack privée Gladys</h5>
							<p>Chattez avec la communauté sur notre Slack privée. Demandez de l'aide et participez au prochain développements.</p>
						</div>
					
						<div class="col-sm-4 text-center feature">
							<i class="icon-like-love-streamline"></i>
							<h5>Cadeaux</h5>
							<p>A l'occasion du lancement, recevez des goodies et des cadeaux si vous faites parti des 100 premiers inscrits.</p>
						</div>
					</div>
				</div>	
			</section>

			<section class="cta cta-3 bg-secondary">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-sm-4 col-md-5 text-left">
							<h3>Inscrivez-vous maintenant - recevez le Gladys Starter Pack gratuitement</h3>
							<p>
								“La rapidité du Gateway est super bluffante !”
							</p>
							<span>— Piznel, contributeur Gladys</span>
						</div>
					
						<div class="col-md-5 col-sm-8">
							<div class="form-email" style="background: white; padding: 40px; border-radius: 3px;">
								<h6>Devenez membre de la communauté Gladys</h6>
								<input type="submit" value="Inscription (9.99€/mois)"  class="openPaymentModal" style="margin-top: 10px; margin-bottom: 10px">
								<p class="sub">
									Sans engagement. Désinscription à tout moment en un clic depuis l'interface du Gladys Gateway
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
     	

     		<section class="features features-4"  style="text-align: justify">
				<div class="container"> 

					<div class="row" style="margin-bottom: 80px">
						<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
							<h3>Le Gladys Gateway</h3>
							<p>Une passerelle web chiffrée de bout en bout</p>
						</div>
					</div>

					<div class="row v-align-children">
						
						<div class="col-sm-6 col-md-5 col-md-offset-1 feature">
							<h4>Sécurité & Vie Privée.</h4>
							<p>Lorsque vous installez Gladys sur un Raspberry Pi, Gladys n'est accessible que sur votre réseau local. Pour accéder à Gladys de l'extérieur, j'ai conçu le Gladys Gateway: Une passerelle chiffrée de bout en bout accessible de n'importe où dans le monde. Le Telegram de la domotique.</p>
						</div>

						<div class="col-sm-6 text-center feature">
							<img alt="Feature Image" src="/assets/images/gateway/macbook-mockup-1000.png">
						</div>
					</div>
				</div>
			</section>

			<section class="features features-10"  style="text-align: justify">
				<div class="container">
					<div class="row v-align-children">
						
					
						<div class="col-md-6">
							<img alt="Feature Image" src="/assets/images/gateway/gateway-manage-user.jpg">
						</div>
						<div class="col-md-5 col-md-offset-1">
							<h4>Invitez votre famille et vos amis</h4>
							<p>Envoyez une invitation en un clic à votre famille et vos amis pour leur donner accès aux contrôles de votre logement. Révoquez les accès quand vous voulez, vous êtes l'administrateur.</p>			
						</div>
					</div>
				</div>
			</section>


			<section class="features features-4"  style="text-align: justify">
				<div class="container">

					<div class="row v-align-children">
						
						<div class="col-sm-6 col-md-5 col-md-offset-1 feature">
							<h4>Bientôt: Intégration avec des services tiers</h4>
							<p>Ce Gladys Gateway va nous permettre de développer plus simplement un grand nombre d'intégrations nécessitant la réception de webhooks: Amazon Alexa, Google Home, Siri, IFTTT, notifications iOS et Android.</p>
						</div>

						<div class="col-sm-6 text-center feature">
							<img alt="Feature Image"  src="/assets/images/gateway/integration.jpg">
						</div>
					</div>
				</div>
			</section>

			
		
			<section class="testimonials testimonials-5">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-md-7 text-center col-sm-6">
							<img alt="Testimonials" src="/assets/images/landing/pierre-gilles-1x.jpg" srcset="/assets/images/landing/pierre-gilles.jpg 2x"/>
						</div>
					
						<div class="col-md-5 col-sm-6">
							<h4>Qui suis-je ?</h4>
							<div class="slider">
								<ul class="slides">
									<li>
										<p>
											Je m'appelle <a href="https://twitter.com/pierregillesl">Pierre-Gilles Leymarie</a> et j'ai fondé le projet Gladys il y a 5 ans ! <br /><br />
											
											L'objectif était au début de construire mon assistant JARVIS pour chez moi. 
											Et puis au fil de mes posts sur internet, Gladys est finalement devenu un véritable software, disponible gratuitement en open-source.
											<br />
											<br />
											Aujourd'hui, vous êtes plus de 35 000 à avoir téléchargé Gladys, et le projet ne cesse de grandir. 
											Merci à tous ceux qui soutiennent le projet, et qui lui ont permis d'arriver jusque-là 🙂
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>


			<section class="cta cta-3 bg-secondary">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-sm-4 col-md-5 text-left">
							<h3>Inscrivez-vous maintenant - recevez le Gladys Starter Pack gratuitement</h3>
							<p>
								“La rapidité du Gateway est super bluffante !”
							</p>
							<span>— Piznel, contributeur Gladys</span>
						</div>
					
						<div class="col-md-5 col-sm-8">
							<div class="form-email" style="background: white; padding: 40px; border-radius: 3px;">
								<h6>Devenez membre de la communauté Gladys</h6>
								<input type="submit" value="Inscription (9.99€/mois)"  class="openPaymentModal" style="margin-top: 10px; margin-bottom: 10px">
								<p class="sub">
									Sans engagement. Désinscription à tout moment en un clic depuis l'interface du Gladys Gateway
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			
			<section class="faq faq-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="faq">
								<h5>Pourquoi s'inscrire au package communauté ?</h5>
								<p>
									Tu as envie d'intéragir avec une communauté passionné ? Accéder simplement à ton instance Gladys de n'importe où dans le monde ? Soutenir un projet open-source français en pleine croissance ? Tu veux recevoir le Gladys Starter Pack gratuitement et commencer à domotiser ton logement ? Le package communauté est fait pour toi !
								</p>
							</div>

							<div class="faq">
								<h5>Est-ce que je peux me désabonner à tout moment ?</h5>
								<p>
									Bien-sûr! Gladys c'est un projet open-source, pas une grosse entreprise sans scrupule 😄 Tu peux à tout moment annuler ton abonnement en un clic depuis l'interface du Gateway (il y a un bouton pour se désabonner, il n'est pas caché, tu as juste à cliquer et hop tu es désabonné). Si seulement tous les abonnenements étaient comme ça...
								</p>
							</div>

							<div class="faq">
								<h5>Satisfait ou remboursé ?</h5>
								<p>
									Bien entendu ! Si ce package communauté ne te donne pas entière satisfaction, envoie moi un email et je te rembourserais directement, sans discussion. N'hésite pas à me donner ton retour dans le mail pour que je puisse améliorer le service 🙂
								</p>
              </div>
              
              <div class="faq">
                  <h5>Peux-tu parler du chiffrement de bout en bout ?</h5>
                  <p>
                    J'ai passé beaucoup de temps à lire sur l'état de l'art en matière de chiffrement de bout en bout. J'ai notamment lu le <a href="https://www.apple.com/business/site/docs/iOS_Security_Guide.pdf">Security White Paper d'Apple</a> sur le chiffrement de bout en bout d'iMessage, le white paper de <a href="https://www.dashlane.com/download/Dashlane_SecurityWhitePaper_October2018.pdf">Dashlane</a>, 
                    j'ai lu la documentation et discuté avec le fondateur d'<a href="https://support.insomnia.rest/article/57-encryption">Insomnia</a> et j'ai lu la documentation de ProtonMail à propos de leur implémentation du protocole <a href="https://en.wikipedia.org/wiki/Secure_Remote_Password_protocol">Remote Secure Password</a>. <br /><br />

                    Le Gladys Gateway chiffre vos commandes Gladys grâce à l'algorithme AES-GCM 256bits et une clé unique généré à chaque message. Cette clé est ensuite chiffrée grâce à la clé publique de l'instance Gladys et l'algorithme RSA-OAEP 2048bits. Enfin, chaque message est signé grâce à l'algorithme ECDSA P-256, et accompagné d'une date d'expiration afin d'éviter les <a href="https://en.wikipedia.org/wiki/Replay_attack">Replay Attack</a>. Côté Gladys, l'utilisateur doit valider manuellement chaque clé publique afin d'éviter qu'un attaquant puisse prendre contrôle de votre Gladys grâce à une attaque <a href="https://en.wikipedia.org/wiki/Man-in-the-middle_attack">Man In The Middle</a>. Ainsi, si le Gateway est compromis, l'attaquant ne pourra absolument rien faire car sans clé privée il n'a pas contrôle sur votre Gladys. 
                  </p>
                </div>
							
						</div>
					
						<div class="col-sm-6">
							<div class="faq">
								<h5>Pourquoi le package communauté est-il payant ?</h5>
								<p>
									Gladys, tous ses modules, le Gladys Gateway, le site web: tout est 100% open-source et gratuit à utiliser.<br /><br />
									Mais open-source ne veut pas dire que de mon côté je n'ai pas des frais récurrents: serveurs, domaines, communauté en ligne, services d'emails, abonnements, matériel, etc... Et c'est sans compter tout le temps que je passe sur le projet car <a href="/fr/article/grande-nouvelle-gladys">Gladys est désormais mon activité principale</a> ! 🙂
									<br /><br />
									Ce projet respecte votre vie privée, et par conséquent ne vie que de ces contributions. Chaque contribution permet au projet d'aller plus loin, et montre qu'une alternative libre et respectueuse de la vie privée de ses utilisateurs est possible 🚀
								</p>
							</div>

							<div class="faq">
								<h5>Est-ce qu'il va y avoir plus de fonctionnalités sur Gladys et le Gateway ?</h5>
								<p>
									De plus en plus! Plus il y a de contributeurs au package communauté, plus il est possible pour moi d'investir dans le projet, de passer du temps dessus, et de fournir un service professionel. Par exemple, le mois dernier j'ai payé un designer professionel pour refaire toute la charte graphique du projet: logo, illustrations, couleurs, il a tout refait. Et la communauté est unanime: son travail a totalement changé l'apparence du projet. Payer ce designer n'a uniquement été possible grâce aux contributions de la communauté, et c'est ça qui est génial! <br/> <br/>
									En fait, Gladys c'est un peu comme une entreprise décentralisée ou les patrons, c'est vous! Ainsi, toutes les décisions dans le projet sont faites de manière à favoriser les utilisateurs, pas un investisseur, une banque où un publicitaire.
								</p>
							</div>

						</div>
					
					</div>
				
					<div class="row">
						<div class="col-sm-12 text-center">
							<h4>Des questions? Envoyez moi un tweet à <a target="_blank" href="https://twitter.com/gladysproject">@gladysproject</a> !</h4>
						</div>
					</div>
				</div>
			</section>
			<footer class="footer footer-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<!--<ul class="social-links">
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-youtube-alt"></i></a></li>
								<li><a href="#"><i class="icon-vimeo"></i></a></li>
							</ul>-->
						</div>
					
						<div class="col-sm-4 text-center">
							<p class="sub">
								© Copyright {{ 'now' | date: "%Y" }} Gladys Project - All Rights Reserved
							</p>
						</div>
					
						<div class="col-sm-4 text-right">
							<!--<a href="#">
								<img alt="Logo" src="/assets/images/landing/logo-dark.png">
							</a>-->
						</div>	
					</div>
				</div>
			</footer>
		</div>
	</body>
	
	{% if jekyll.environment == "production" %}
		{% include google-analytics.html %}
		{% include pixel.html %}
  	{% endif %}
	
	<script>
		if(window.fbq) {
			fbq('track', 'ViewContent');
		}

		document.addEventListener("DOMContentLoaded", function(event) {

			$(".openPaymentModal").on('click', function(event){
			    event.stopPropagation();
			    event.stopImmediatePropagation();
				$('#modalPayment').modal('show');
				
				if(window.fbq) {
					fbq('track', 'InitiateCheckout');
				}
			});

		});
  </script>

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>

<!-- Modal -->
<div class="modal fade" id="modalPayment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center"  id="myModalLabel">Inscription</h4>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-md-6">
        		<div class="card" style="text-align: justify;">
		            <div class="card-body">
		              <h6 class="card-title">Pourquoi ce package n'est pas gratuit ?</h6>

		             <p style="margin-top: 15px">
				        Je m'appelle <a href="https://twitter.com/pierregillesl">Pierre-Gilles Leymarie</a>,
				        je suis un développeur indépendant, et je travaille sur Gladys depuis 2013 👨‍💻
				      </p>

		              <p>
		                Gladys est un projet entièrement financé par sa communauté. Je ne collecte pas d'informations, ne voit pas vos données, et ne place pas de publicités dans votre Gladys. Je pense qu'être financé directement par les utilisateurs est le meilleur moyen de les servir, et pas les intérêts d'un tiers (investisseur, publicitaire) 🙂
		              </p>

		              <p>Merci pour votre contribution 🙏</p>
		            </div>
		          </div>
        	</div>
        	<div class="col-md-6">
        		<style>
				@media (max-width: 992px) { 
					.iframe-container{
						margin-top: 30px; 
					}
				}
				</style>
        		<div class="iframe-container">
        		<iframe 
        		src="https://gateway.gladysproject.com/subscribe?language=fr" 
        		width="100%" 
        		height="360px"
        		frameborder="0"
			    scrolling="no"
			    marginheight="0"
			    marginwidth="0"
			   	/>
			   </div>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>


</html>