---
layout: default
---

<style>
  .card-pricing .popular {
    z-index: 1;
    border: 3px solid #007bff;
  }

  .card-pricing {
    height: 460px;
  }

  .card-pricing .panel-title {
    font-size: 25px;
    text-align: center;
  }

  .card-pricing .list-unstyled li {
    padding: .5rem 0;
    color: #6c757d;
  }

  .card-pricing li {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .green-icon {
    color: #5eba00;
  }

  .red-icon {
    color: #cd201f;
  }

  .intro-description {
    margin-bottom: 35px;
  }
</style>


<div class="container" style="margin-top: 60px">
  <section>
    <div class="row" style="margin-bottom: 20px">
      <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
        <h2>Prix</h2>
        <p>Gladys est gratuite et open-source, pour toujours.<br />Nous proposons Gladys Plus pour ajouter des
          fonctionnalités
          supplémentaires à Gladys!</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success">A l'occasion de la sortie de Gladys 4 beta, les 100 premiers à souscrire à
          Gladys Plus recevront des stickers Gladys Assistant!</div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">

        <div class="panel panel-default card-pricing">
          <div class="panel-heading">
            <h2 class="panel-title">Communauté <small>(gratuit)</small></h2>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled leading-loose">
              <li><i class="fas fa-check green-icon"></i> Logiciel Open-Source</li>
              <li><i class="fas fa-times red-icon"></i> Accès à distance chiffré de bout en bout</li>
              <li><i class="fas fa-times red-icon"></i> Backups journaliers chiffrés</li>
              <li><i class="fas fa-times red-icon"></i> Restauration en 1-clic</li>
              <li><i class="fas fa-times red-icon"></i> Webhooks à distance</li>
              <li><i class="fas fa-times red-icon"></i> API Owntracks</li>
              <li><i class="fas fa-times red-icon"></i> Communauté Slack privée</li>
              <li><i class="fas fa-times red-icon"></i> Supportez un logiciel indépendant open-source!</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-success card-pricing">
          <div class="panel-heading">
            <h2 class="panel-title">Gladys Plus <small>(9.99€/mois)</small></h2>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled leading-loose">
              <li><i class="fas fa-check green-icon"></i> Logiciel Open-Source</li>
              <li><i class="fas fa-check green-icon"></i> Accès à distance chiffré de bout en bout</li>
              <li><i class="fas fa-check green-icon"></i> Backups journaliers chiffrés</li>
              <li><i class="fas fa-check green-icon"></i> Restauration en 1-clic</li>
              <li><i class="fas fa-check green-icon"></i> Communauté Slack privée</li>
              <li><i class="fas fa-check green-icon"></i> Webhooks à distance</li>
              <li><i class="fas fa-check green-icon"></i> API Owntracks</li>
              <li><i class="fas fa-check green-icon"></i> Supportez un logiciel indépendant open-source!</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <iframe src="https://gateway.gladysassistant.com/subscribe?language=fr" width="100%" height="460px"
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div>

    </div>
  </section>

  <section class="features features-4">
    <div class="container">

      <div class="row" style="margin-bottom: 30px">
        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
          <h2>Gladys Plus</h2>
          <p>Une passerelle web chiffrée de bout en bout</p>
        </div>
      </div>

      <div class="row v-align-children" style="padding-top: 50px;">

        <div class="col-sm-6 col-md-5 col-md-offset-1 feature">
          <h3>Sécurité & Vie Privée.</h3>
          <p style="text-align: justify;">Lorsque vous installez Gladys sur un Raspberry Pi, Gladys n'est accessible que
            sur votre réseau local. Pour accéder à Gladys de l'extérieur, j'ai conçu le Gladys Gateway: Une passerelle
            chiffrée de bout en bout
            accessible de n'importe où dans le monde. Grâce à du chiffrement asymétrique, cette solution est
            respectueuse
            de votre vie privée: même le gateway ne voit pas ce que vous faites.</p>
        </div>
        <div class="col-sm-6 text-center feature">
          <img src="/assets/images/articles/gladys-4-alpha/gladys-4-mockup-devices.jpg" alt="Gladys 4 devices"
            class="img-responsive" />
        </div>
      </div>
  </section>

  <section class="features features-10">
    <div class="container">
      <div class="row v-align-children" style="padding-top: 50px;">


        <div class="col-md-6">
          <img alt="Feature Image" class="img-responsive" src="/assets/images/gateway/gladys-plus-4-users.jpg">
        </div>
        <div class="col-md-5 col-md-offset-1">
          <h3>Invitez votre famille et vos amis</h3>
          <p style="text-align: justify;">Envoyez une invitation en un clic à votre famille et vos amis pour leur donner
            accès aux contrôles de votre
            logement. Révoquez les accès quand vous voulez, vous êtes l'administrateur.</p>
        </div>
      </div>
    </div>
  </section>


  <section class="testimonials testimonials-5">
    <div class="container">
      <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
          <h2>Qui suis-je ?</h2>
        </div>
      </div>
      <div class="row v-align-children">
        <div class="col-md-7 text-center col-sm-6">
          <img alt="Testimonials" src="/assets/images/landing/pierre-gilles-1x.jpg"
            srcset="/assets/images/landing/pierre-gilles.jpg 2x" />
        </div>

        <div class="col-md-5 col-sm-6">
          <p>
            Je m'appelle <a href="https://twitter.com/pierregillesl">Pierre-Gilles Leymarie</a> et j'ai fondé le projet
            Gladys il y a 6 ans ! <br /><br />

            L'objectif était au début de construire mon assistant JARVIS pour chez moi.
            Et puis au fil de mes posts sur internet, Gladys est finalement devenu un projet sérieux, disponible
            gratuitement en open-source.
            <br />
            <br />
            Aujourd'hui, vous êtes plus de 40 000 à avoir téléchargé Gladys, et le projet ne cesse de grandir.
            Merci à tous ceux qui soutiennent le projet, et qui lui ont permis d'arriver jusque-là 🙂
          </p>
        </div>
      </div>
    </div>
  </section>



  <section class="faq faq-1">
    <div class="container">
      <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
          <h2>FAQ</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="faq">
            <h3>Pourquoi s'inscrire à Gladys Plus ?</h3>
            <p>
              Tu as envie d'accéder simplement et de façon sécurisée à ton instance Gladys de n'importe où dans le monde
              ?
              Intéragir avec une
              communauté passionné ? Soutenir un projet open-source français en pleine croissance ? Gladys Plus
              est fait pour toi !
            </p>
          </div>

          <div class="faq">
            <h3>Est-ce que je peux me désabonner à tout moment ?</h3>
            <p>
              Bien-sûr! Gladys c'est un projet open-source, pas une grosse entreprise sans scrupule 😄 Tu peux à tout
              moment annuler ton abonnement en un clic depuis l'interface du Gateway (il y a un bouton pour se
              désabonner, il n'est pas caché, tu as juste à cliquer et hop tu es désabonné). Si seulement tous les
              abonnenements étaient comme ça...
            </p>
          </div>

          <div class="faq">
            <h3>Satisfait ou remboursé ?</h3>
            <p>
              Bien entendu ! Si Gladys Plus ne te donne pas entière satisfaction, envoie moi un email et je
              te rembourserais directement, sans discussion. N'hésite pas à me donner ton retour dans le mail pour que
              je puisse améliorer le service 🙂
            </p>
          </div>

          <div class="faq">
            <h3>Peux-tu parler du chiffrement de bout en bout ?</h3>
            <p>
              J'ai passé beaucoup de temps à lire sur l'état de l'art en matière de chiffrement de bout en bout. J'ai
              notamment lu le <a href="https://www.apple.com/business/site/docs/iOS_Security_Guide.pdf">Security White
                Paper d'Apple</a> sur le chiffrement de bout en bout d'iMessage, le white paper de <a
                href="https://www.dashlane.com/download/Dashlane_SecurityWhitePaper_October2018.pdf">Dashlane</a>,
              j'ai lu la documentation et discuté avec le fondateur d'<a
                href="https://support.insomnia.rest/article/57-encryption">Insomnia</a> et j'ai lu la documentation de
              ProtonMail à propos de leur implémentation du protocole <a
                href="https://en.wikipedia.org/wiki/Secure_Remote_Password_protocol">Remote Secure Password</a>.
              <br /><br />

              Le Gladys Gateway chiffre vos commandes Gladys grâce à l'algorithme AES-GCM 256bits et une clé unique
              généré à chaque message. Cette clé est ensuite chiffrée grâce à la clé publique de l'instance Gladys et
              l'algorithme RSA-OAEP 2048bits. Enfin, chaque message est signé grâce à l'algorithme ECDSA P-256, et
              accompagné d'une date d'expiration afin d'éviter les <a
                href="https://en.wikipedia.org/wiki/Replay_attack">Replay Attack</a>. Côté Gladys, l'utilisateur doit
              valider manuellement chaque clé publique afin d'éviter qu'un attaquant puisse prendre contrôle de votre
              Gladys grâce à une attaque <a href="https://en.wikipedia.org/wiki/Man-in-the-middle_attack">Man In The
                Middle</a>. Ainsi, si le Gateway est compromis, l'attaquant ne pourra absolument rien faire car sans
              clé privée il n'a pas contrôle sur votre Gladys.
            </p>
          </div>

        </div>

        <div class="col-sm-6">
          <div class="faq">
            <h3>Pourquoi Gladys Plus est-il payant ?</h3>
            <p>
              Gladys, tous ses services, le Gladys Gateway, le site web: tout est 100% open-source et gratuit à
              utiliser.<br /><br />
              Mais open-source ne veut pas dire que de mon côté je n'ai pas des frais récurrents: serveurs, domaines,
              communauté en ligne, services d'emails, abonnements, matériel, etc... Et c'est sans compter tout le temps
              que je passe sur le projet car <a href="/fr/article/grande-nouvelle-gladys">Gladys est désormais mon
                activité principale</a> ! 🙂
              <br /><br />
              Ce projet respecte votre vie privée, et par conséquent ne vie que de ces contributions. Chaque
              contribution permet au projet d'aller plus loin, et montre qu'une alternative libre et respectueuse de la
              vie privée de ses utilisateurs est possible 🚀
            </p>
          </div>

          <div class="faq">
            <h3>Est-ce qu'il va y avoir plus de fonctionnalités sur Gladys et le Gateway ?</h3>
            <p>
              De plus en plus! Plus il y a de contributeurs à Gladys Plus, plus il est possible pour moi
              d'investir dans le projet, de passer du temps dessus, et de fournir un service professionel. Par exemple,
              le mois dernier j'ai payé un designer professionel pour refaire toute la charte graphique du projet:
              logo, illustrations, couleurs, il a tout refait. Et la communauté est unanime: son travail a totalement
              changé l'apparence du projet. Payer ce designer n'a uniquement été possible grâce aux contributions de la
              communauté, et c'est ça qui est génial! <br /> <br />
              En fait, Gladys c'est un peu comme une entreprise décentralisée ou les patrons, c'est vous! Ainsi, toutes
              les décisions dans le projet sont faites de manière à favoriser les utilisateurs, pas un investisseur,
              une banque où un publicitaire.
            </p>
          </div>

        </div>

      </div>

      <div class="row" style="margin-bottom: 40px; margin-top: 20px">
        <div class="col-sm-12 text-center">
          <h3>Des questions? Contactez-moi sur la <a href="/fr/contact">la page de contact</a> ou sur Twitter à <a
              target="_blank" href="https://twitter.com/pierregillesl">@pierregillesl</a> !</h3>
        </div>
      </div>
    </div>
  </section>

</div>